<div [@routerTransition]>
    <app-page-header [heading]="'Custom Filter'" [icon]="'fa-wrench'"></app-page-header>

    
    <!-- /.row -->

    <div class="row">
        <div class="col-sm-3 text-xs-center">
               <div class="form-check">
                    <label class="form-check-label">
                       <input type="checkbox" class="form-check-input"> Name
                    </label>
                </div>
           </div>
        <div class="col-sm-3 text-xs-center">
               <div class="form-check">
                   <label class="form-check-label">
                       <input type="checkbox" class="form-check-input"> Initial
                    </label>
                </div>
           </div>
        
        <div class="col-sm-3 text-xs-center">
               <div class="form-check">
                    <label class="form-check-label">
                       <input type="checkbox" class="form-check-input"> Class & Section
                    </label>
                </div>
           </div>
       

        <div class="col-sm-3 text-xs-center">
               <div class="form-check">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input"> Date of Birth
                    </label>
                </div>
           </div>
       </div>
    <!-- /.row -->
<div class="row">
        <div class="col-sm-3 text-xs-center">
               <div class="form-check">
                    <label class="form-check-label">
                       <input type="checkbox" class="form-check-input"> Roll Number
                    </label>
                </div>
           </div>
        <div class="col-sm-3 text-xs-center">
               <div class="form-check">
                   <label class="form-check-label">
                       <input type="checkbox" class="form-check-input"> Group 
                    </label>
                </div>
           </div>
        
        <div class="col-sm-3 text-xs-center">
               <div class="form-check">
                    <label class="form-check-label">
                       <input type="checkbox" class="form-check-input"> Gender 
                    </label>
                </div>
           </div>
       

        <div class="col-sm-3 text-xs-center">
               <div class="form-check">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input">Blood Group
                    </label>
                </div>
           </div>
       </div>
   
    <!-- /.row -->

    <div class="row">
        <div class="col-sm-3 text-xs-center">
               <div class="form-check">
                    <label class="form-check-label">
                       <input type="checkbox" class="form-check-input">  Language
                    </label>
                </div>
           </div>
        <div class="col-sm-3 text-xs-center">
               <div class="form-check">
                   <label class="form-check-label">
                       <input type="checkbox" class="form-check-input"> Type
                    </label>
                </div>
           </div>
        
        <div class="col-sm-3 text-xs-center">
               <div class="form-check">
                    <label class="form-check-label">
                       <input type="checkbox" class="form-check-input"> Religion
                    </label>
                </div>
           </div>
       

        <div class="col-sm-3 text-xs-center">
               <div class="form-check">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input">  Nationality
                    </label>
                </div>
           </div>
       </div>
       <!-- rowp-->
       <div class="row">
        <div class="col-sm-3 text-xs-center">
               <div class="form-check">
                    <label class="form-check-label">
                       <input type="checkbox" class="form-check-input">  Father Name 
                    </label>
                </div>
           </div>
        <div class="col-sm-3 text-xs-center">
               <div class="form-check">
                   <label class="form-check-label">
                       <input type="checkbox" class="form-check-input"> Qualification
                    </label>
                </div>
           </div>
        
        <div class="col-sm-3 text-xs-center">
               <div class="form-check">
                    <label class="form-check-label">
                       <input type="checkbox" class="form-check-input"> Occupation
                    </label>
                </div>
           </div>
       

        <div class="col-sm-3 text-xs-center">
               <div class="form-check">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input"> Father Mobile
                    </label>
                </div>
           </div>
       </div>

       <!--row-->
       <div class="row">
        <div class="col-sm-3 text-xs-center">
               <div class="form-check">
                    <label class="form-check-label">
                       <input type="checkbox" class="form-check-input"> Mother Name
                    </label>
                </div>
           </div>
        <div class="col-sm-3 text-xs-center">
               <div class="form-check">
                   <label class="form-check-label">
                       <input type="checkbox" class="form-check-input"> Qualification
                    </label>
                </div>
           </div>
        
        <div class="col-sm-3 text-xs-center">
               <div class="form-check">
                    <label class="form-check-label">
                       <input type="checkbox" class="form-check-input"> Occupation
                    </label>
                </div>
           </div>
       

        <div class="col-sm-3 text-xs-center">
               <div class="form-check">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input"> Mother Mobile
                    </label>
                </div>
           </div>
       </div>
<!--row-->
 <div class="row">
        <div class="col-sm-3 text-xs-center">
               <div class="form-check">
                    <label class="form-check-label">
                       <input type="checkbox" class="form-check-input"> Address
                    </label>
                </div>
           </div>
       
              
       

        
       </div><!--row -->
</div>
