<div [@routerTransition]>
    <app-page-header [heading]="'View strength details'" [icon]="'fa-table'"></app-page-header>
    <div class="row">
        <div class="col col-sm-12 col-xs-12">
            <div class="card mb-3">
                <div class="card-header">
                    Basic example
                </div>
                <div class="card-block table-responsive">
                    <table class="table col-sm-12  table-bordered table-condensed">
                        <thead>
                     
                                            <tr>
                                                    <th class="text-capitalize">Section</th>
                                                    <th class="text-capitalize">PREKG</th>
                                                    <th class="text-capitalize">LKG</th>
                                                    <th class="text-capitalize">UKG</th>
                                                    <th class="text-capitalize">I</th>
                                                    <th class="text-capitalize">II</th>
                                                    <th class="text-capitalize">III</th>
                                                    <th class="text-capitalize">IV</th>
                                                    <th class="text-capitalize">V</th>
                                                    <th class="text-capitalize">VI</th>
                                                    <th class="text-capitalize">VII</th>
                                                    <th class="text-capitalize">VIII</th>
                                                    <th class="text-capitalize">IX</th>
                                                    <th class="text-capitalize">X</th>
                                                    <th class="text-capitalize">XI</th>
                                                    <th class="text-capitalize">XII</th>
                                                    <th class="text-capitalize">Total</th>                  
                                            </tr>
                                        
                        </thead>
                       <tbody>
                                                <tr>
                                                   <td data-title = "Section">A</td>
                                                    <td data-title = "PREKG">10</td>
                                                    <td data-title = "LKG">10</td>
                                                    <td data-title = "UKG">10</td>
                                                    <td data-title = "I">10</td>
                                                    <td data-title = "II">10</td>
                                                    <td data-title = "III">10</td>
                                                    <td data-title = "IV">10</td>
                                                    <td data-title = "V">10</td>
                                                    <td data-title = "VI">10</td>
                                                    <td data-title = "VII">10</td>
                                                    <td data-title = "VIII">10</td>
                                                    <td data-title = "IX">10</td>
                                                    <td data-title = "X">10</td>
                                                    <td data-title = "XI">10</td>
                                                    <td data-title = "XII">10</td>
                                                    <td data-title = "Total">150</td>
                                                </tr>
                                                <tr>
                                                   <td data-title = "Section">A</td>
                                                    <td data-title = "PREKG">10</td>
                                                    <td data-title = "LKG">10</td>
                                                    <td data-title = "UKG">10</td>
                                                    <td data-title = "I">10</td>
                                                    <td data-title = "II">10</td>
                                                    <td data-title = "III">10</td>
                                                    <td data-title = "IV">10</td>
                                                    <td data-title = "V">10</td>
                                                    <td data-title = "VI">10</td>
                                                    <td data-title = "VII">10</td>
                                                    <td data-title = "VIII">10</td>
                                                    <td data-title = "IX">10</td>
                                                    <td data-title = "X">10</td>
                                                    <td data-title = "XI">10</td>
                                                    <td data-title = "XII">10</td>
                                                    <td data-title = "Total">150</td>
                                                </tr>
                                               <tr>
                                                   <td data-title = "Section">A</td>
                                                    <td data-title = "PREKG">10</td>
                                                    <td data-title = "LKG">10</td>
                                                    <td data-title = "UKG">10</td>
                                                    <td data-title = "I">10</td>
                                                    <td data-title = "II">10</td>
                                                    <td data-title = "III">10</td>
                                                    <td data-title = "IV">10</td>
                                                    <td data-title = "V">10</td>
                                                    <td data-title = "VI">10</td>
                                                    <td data-title = "VII">10</td>
                                                    <td data-title = "VIII">10</td>
                                                    <td data-title = "IX">10</td>
                                                    <td data-title = "X">10</td>
                                                    <td data-title = "XI">10</td>
                                                    <td data-title = "XII">10</td>
                                                    <td data-title = "Total">150</td>
                                                </tr>
                                               <tr>
                                                  <td data-title = "Section">A</td>
                                                    <td data-title = "PREKG">10</td>
                                                    <td data-title = "LKG">10</td>
                                                    <td data-title = "UKG">10</td>
                                                    <td data-title = "I">10</td>
                                                    <td data-title = "II">10</td>
                                                    <td data-title = "III">10</td>
                                                    <td data-title = "IV">10</td>
                                                    <td data-title = "V">10</td>
                                                    <td data-title = "VI">10</td>
                                                    <td data-title = "VII">10</td>
                                                    <td data-title = "VIII">10</td>
                                                    <td data-title = "IX">10</td>
                                                    <td data-title = "X">10</td>
                                                    <td data-title = "XI">10</td>
                                                    <td data-title = "XII">10</td>
                                                    <td data-title = "Total">150</td>
                                                </tr>
                                        </tbody>
                    </table>
                </div>
            </div>
          
          <div class="row">
        <div class="col col-sm-12 col-xs-12">
            <div class="card mb-3">
                <div class="card-header">
                    Basic example
                </div>
                <div class="card-block table-responsive">
                    <table class="table col-sm-12  table-bordered table-condensed">
                        <thead>
                     
                                            <tr>
                                                    <th class="text-capitalize">Section</th>
                                                    <th class="text-capitalize">PREKG</th>
                                                    <th class="text-capitalize">LKG</th>
                                                    <th class="text-capitalize">UKG</th>
                                                    <th class="text-capitalize">I</th>
                                                    <th class="text-capitalize">II</th>
                                                    <th class="text-capitalize">III</th>
                                                    <th class="text-capitalize">IV</th>
                                                    <th class="text-capitalize">V</th>
                                                    <th class="text-capitalize">VI</th>
                                                    <th class="text-capitalize">VII</th>
                                                    <th class="text-capitalize">VIII</th>
                                                    <th class="text-capitalize">IX</th>
                                                    <th class="text-capitalize">X</th>
                                                    <th class="text-capitalize">XI</th>
                                                    <th class="text-capitalize">XII</th>
                                                    <th class="text-capitalize">Total</th>                  
                                            </tr>
                                        
                        </thead>
                       <tbody>
                                                <tr>
                                                   <td data-title = "Section">A</td>
                                                    <td data-title = "PREKG">10</td>
                                                    <td data-title = "LKG">10</td>
                                                    <td data-title = "UKG">10</td>
                                                    <td data-title = "I">10</td>
                                                    <td data-title = "II">10</td>
                                                    <td data-title = "III">10</td>
                                                    <td data-title = "IV">10</td>
                                                    <td data-title = "V">10</td>
                                                    <td data-title = "VI">10</td>
                                                    <td data-title = "VII">10</td>
                                                    <td data-title = "VIII">10</td>
                                                    <td data-title = "IX">10</td>
                                                    <td data-title = "X">10</td>
                                                    <td data-title = "XI">10</td>
                                                    <td data-title = "XII">10</td>
                                                    <td data-title = "Total">150</td>
                                                </tr>
                                                <tr>
                                                   <td data-title = "Section">A</td>
                                                    <td data-title = "PREKG">10</td>
                                                    <td data-title = "LKG">10</td>
                                                    <td data-title = "UKG">10</td>
                                                    <td data-title = "I">10</td>
                                                    <td data-title = "II">10</td>
                                                    <td data-title = "III">10</td>
                                                    <td data-title = "IV">10</td>
                                                    <td data-title = "V">10</td>
                                                    <td data-title = "VI">10</td>
                                                    <td data-title = "VII">10</td>
                                                    <td data-title = "VIII">10</td>
                                                    <td data-title = "IX">10</td>
                                                    <td data-title = "X">10</td>
                                                    <td data-title = "XI">10</td>
                                                    <td data-title = "XII">10</td>
                                                    <td data-title = "Total">150</td>
                                                </tr>
                                               <tr>
                                                   <td data-title = "Section">A</td>
                                                    <td data-title = "PREKG">10</td>
                                                    <td data-title = "LKG">10</td>
                                                    <td data-title = "UKG">10</td>
                                                    <td data-title = "I">10</td>
                                                    <td data-title = "II">10</td>
                                                    <td data-title = "III">10</td>
                                                    <td data-title = "IV">10</td>
                                                    <td data-title = "V">10</td>
                                                    <td data-title = "VI">10</td>
                                                    <td data-title = "VII">10</td>
                                                    <td data-title = "VIII">10</td>
                                                    <td data-title = "IX">10</td>
                                                    <td data-title = "X">10</td>
                                                    <td data-title = "XI">10</td>
                                                    <td data-title = "XII">10</td>
                                                    <td data-title = "Total">150</td>
                                                </tr>
                                               <tr>
                                                  <td data-title = "Section">A</td>
                                                    <td data-title = "PREKG">10</td>
                                                    <td data-title = "LKG">10</td>
                                                    <td data-title = "UKG">10</td>
                                                    <td data-title = "I">10</td>
                                                    <td data-title = "II">10</td>
                                                    <td data-title = "III">10</td>
                                                    <td data-title = "IV">10</td>
                                                    <td data-title = "V">10</td>
                                                    <td data-title = "VI">10</td>
                                                    <td data-title = "VII">10</td>
                                                    <td data-title = "VIII">10</td>
                                                    <td data-title = "IX">10</td>
                                                    <td data-title = "X">10</td>
                                                    <td data-title = "XI">10</td>
                                                    <td data-title = "XII">10</td>
                                                    <td data-title = "Total">150</td>
                                                </tr>
                                        </tbody>
                    </table>
                </div>
            </div>
            
    </div>  
    </div>


</div>
