<div [@routerTransition]>
    <app-page-header [heading]="'View Edit profile'" [icon]="'fa-desktop'"></app-page-header>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container-fluid">
        <div class="row">
        <div class="col-sm-3 text-xs-center">
            <label>Class & Section</label>
            <select id="class" name="class" class="form-control">
            <option value="">Select Class</option>
            <option value="">Select Class</option>
            <option value="">Select Class</option>
            </select>      
        </div>

        <div class="col-sm-6 text-xs-center">
        </div>
        <div class="col-sm-3 text-xs-center">
            <label>Filter</label>
            <input type="text" placeholder="Filter" class="form-control">
        </div>
    </div>
                 
   
<div class="row">
            <div class="col col-sm-4">
            <div class="card mb-3">
                <div class="card-header">
                   Edit profile
                </div>
                <div class="card-block">
                      <div class="profile-info-row" style="">
                                                        <div class="profile-info-name">Student Name</div>
                                                      
                                                           
                                                           <span class="editable-text">Empty</span> 
                                                       
                                                       
                                                    </div>
                </div>
            </div>
        </div>

           <div class="col col-sm-8">
             <div class="panel-body" style="padding:0px;">
                <div class="table-responsive">
                    <div id="no-more-tables">
                    <table class="table table-bordered">
                        
                            <thead>
                                <tr>
                                <th>#</th>
                                <th class="text-capitalize">adno</th>
                                <th class="text-capitalize">name</th>
                                <th class="text-capitalize">class & section</th>
                                <th class="text-capitalize">gender</th>
                                <th class="text-capitalize">dob</th>
                                
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">1</th>
                                <td data-title="Adno">KG/2017/53</td>
                                <td data-title="Name">Jayalalitha</td>
                                <td data-title="Class & Section">Jeyaraman</td>
                                <td data-title="Gender">Female</td>
                                <td data-title="DOB">15/08/2015</td>
                                </tr>
                                <tr>
                                <th scope="row">2</th>
                                <td data-title="Adno">KG/2017/53</td>
                                <td data-title="Name">Jayalalitha</td>
                                <td data-title="Class & Section">Jeyaraman</td>
                                <td data-title="Gender">Female</td>
                                <td data-title="DOB">15/08/2015</td>
                                </tr>
                                <tr>
                                <th scope="row">3</th>
                                <td data-title="Adno">KG/2017/53</td>
                                <td data-title="Name">Jayalalitha</td>
                                <td data-title="Class & Section">Jeyaraman</td>
                                <td data-title="Gender">Female</td>
                                <td data-title="DOB">15/08/2015</td>
                                </tr>
                                <tr>
                                <th scope="row">4</th>
                                <td data-title="Adno">KG/2017/53</td>
                                <td data-title="Name">Jayalalitha</td>
                                <td data-title="Class & Section">Jeyaraman</td>
                                <td data-title="Gender">Female</td>
                                <td data-title="DOB">15/08/2015</td>
                                </tr>
                            <tr>
                                <th scope="row">5</th>
                                <td data-title="Adno">KG/2017/53</td>
                                <td data-title="Name">Jayalalitha</td>
                                <td data-title="Class & Section">Jeyaraman</td>
                                <td data-title="Gender">Female</td>
                                <td data-title="DOB">15/08/2015</td>
                                </tr>
                                 <tr>
                                <th scope="row">6</th>
                                <td data-title="Adno">KG/2017/53</td>
                                <td data-title="Name">Jayalalitha</td>
                                <td data-title="Class & Section">Jeyaraman</td>
                                <td data-title="Gender">Female</td>
                                <td data-title="DOB">15/08/2015</td>
                                </tr>

                                  <tr>
                                <th scope="row">7</th>
                                <td data-title="Adno">KG/2017/53</td>
                                <td data-title="Name">Jayalalitha</td>
                                <td data-title="Class & Section">Jeyaraman</td>
                                <td data-title="Gender">Female</td>
                                <td data-title="DOB">15/08/2015</td>
                                </tr>

                                    <tr>
                                <th scope="row">8</th>
                                <td data-title="Adno">KG/2017/53</td>
                                <td data-title="Name">Jayalalitha</td>
                                <td data-title="Class & Section">Jeyaraman</td>
                                <td data-title="Gender">Female</td>
                                <td data-title="DOB">15/08/2015</td>
                                </tr>
   
                            </tbody>
                          </table>
                        </div>
                        
                        </div>
                <div class="row"><div class="col-sm-6 col-xs-10"><div class="dataTables_info" id="dynamic-table_info" role="status" aria-live="polite">Showing 1 to 10 of 23 entries</div></div>
                                            <div class="col-sm-6 col-xs-12">
                                            <div class="dataTables_paginate paging_simple_numbers" id="dynamic-table_paginate"><ul class="pagination"><li class="paginate_button previous disabled" aria-controls="dynamic-table" tabindex="0" id="dynamic-table_previous"><a href="#">Previous</a></li><li class="paginate_button active" aria-controls="dynamic-table" tabindex="0"><a href="#">1</a></li><li class="paginate_button " aria-controls="dynamic-table" tabindex="0"><a href="#">2</a></li><li class="paginate_button " aria-controls="dynamic-table" tabindex="0"><a href="#">3</a></li><li class="paginate_button next" aria-controls="dynamic-table" tabindex="0" id="dynamic-table_next"><a href="#">Next</a></li></ul></div></div></div>
                      
                        </div>
        </div>

        
    </div>


   </div><!--container-->

</div>
